
  /* made the color schemes*/
    :root {
      /* light mode colors */
        --primary-color: Purple; 
        --secondary-color: gold; 
        --background-color: white;
        --text-color: black;

        /* dark mode colors */
        --dark-primary-color: gold;
        --dark-secondary-color: purple; 
        --dark-background-color: rgb(65,65,65);
        --dark-text-color: gold;
      }

  
  /* these are the component styles */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  body.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }
  
  header {
    background-color: var(--background-color);
    color: var(--primary-color);    
  }

  header.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-primary-color);    
  }
  
  .btn {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }

  .btn.dark {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
  }

  .mwPopupLeft {
		width: 100%;
    float: left;
    margin-left: 5%;
  }
  .mwPopupCenter {
		width: 100%;
    float: none;
  }
  .mwPopupRight {
		width: 100%;
    float: right;
    margin-right: 5%;
  }

  .bigMargins {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

  .label {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }

  .label.dark {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
  }

  .dropdown {
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
  .dropdown.dark {
    color: var(--dark-text-color);
    margin-bottom: 10px;
  }

  @font-face{
    font-family:Anton;
    src:url("../utils/Anton-Regular.ttf")
  }