
  /* made the color schemes*/
    :root {
      /* light mode colors */
        --primary-color: Purple; 
        --secondary-color: gold; 
        --background-color: white;
        --text-color: Purple;

        /* dark mode colors */
        --dark-primary-color: gold;
        --dark-secondary-color: purple; 
        --dark-background-color: rgb(65,65,65);
        --dark-text-color: gold;
      }

  /* these are the component styles */
  .body_light {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .body_dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }
  
  .header_light {
    background-color: var(--background-color);
    color: var(--primary-color);    
    text-align: center
  }

  .header_dark {
    background-color: var(--dark-background-color);
    color: var(--dark-primary-color);    
    text-align: center
  }
  
  /* changed the names of the buttons so they look nicer but dont think becuase the light mode button has dark colors that it is wrong*/
  .btn_dark {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-color: var(--primary-color);
    border-width: 2px;
  }

  .btn_light {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
    border-color: var(--dark-primary-color);
    border-width: 2px;
  }

  .btn.dark {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-color: var(--primary-color);
    border-width: 2px;
  }

  .btn.light {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
    border-color: var(--dark-primary-color);
    border-width: 2px;
  }

  .btn_light:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-color: var(--primary-color);
    border-width: 2px;
  }

  .btn_dark:hover {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
    border-color: var(--dark-primary-color);
    border-width: 2px;
  }

  .btn_dark:disabled {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-color: var(--primary-color);
    border-width: 2px;
  }

  .btn_light:disabled {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
    border-color: var(--dark-primary-color);
    border-width: 2px;
  }

  .btn_dark:focus {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-color: var(--primary-color);
    border-width: 2px;
  }

  .btn_light:focus {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
    border-color: var(--dark-primary-color);
    border-width: 2px;
  }

  .navWithDropDown {
    width: 17%; 
    text-align: center; 
  }

  .fullWindow {
    min-height: 100vh;
    height: 100%;
  }

  .mwPopupLeft {
		width: 100%;
    float: left;
    margin-left: 5%;
  }
  .mwPopupCenter {
		width: 100%;
    float: none;
  }
  .mwPopupRight {
		width: 100%;
    float: right;
    margin-right: 5%;
  }

  .bigMargins {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

  .label_light {
    /* background-color: var(--secondary-color); */
    color: var(--text-color);
  }

  .label_dark {
    /* background-color: var(--dark-secondary-color); */
    color: var(--dark-text-color);
  }

  .dropdown_light {
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
  .dropdown_dark {
    color: var(--dark-text-color);
    margin-bottom: 10px;
  }

  @font-face{
    font-family:Anton;
    src:url("../utils/Anton-Regular.ttf")
  }